body {
				padding: 0;
				margin: 0;
				font-family: sans-serif;
			}

			#content  {
				display: grid;
				grid-template-columns: 320px 40% auto;
				column-gap: 64px;
				align-items: stretch;
				height: 100vh;
			}

			#menu {
				background-color: #28282f;
			}

			#compose_box {
				justify-content: center;
				display: flex;
				background-size: 100%;
				height: 15vh;
				padding-bottom: 16px;
			}

			#compose_button {
				text-align: center;
				color: white;
				border-radius: 4px;
				margin: 16px;
				padding: 16px;
				background-color: orangered;
				width: 60%;
				height: 16px;
				margin-top: auto;
			}

			#menu_options_box {
				color: gray;
				display: flex;
				flex-flow: column;
				justify-content: center;
				font-weight: bold;
				border-bottom: #36363f 1px solid;
			}

			.menu_option {
				display: grid;
				align-items: center;
				grid-template-columns: 70% auto;
				padding: 16px;
				width: 100%;
			}

			.menu_option_active {
				background-color: white;
			}

			.unreads_number {
				border-radius: 100%;
				width: 16px;
				height: 16px;
				text-align: center;
				border: gray 2px solid;
				margin: 0;
				padding: 6px;
			}

			.menu_option_active .unreads_number {
				border: orangered solid 2px;
				color: white;
				background-color: orangered;
			}
			
			#labels_box {
				color: rgb(65, 65, 65);
				font-weight: bold;
				padding: 16px;
				display: grid;
				grid-template-columns: 90%	auto;
				justify-content: center;
				align-items: center;
			}

			#labels_plus_sign {
				font-size: 24px;
			}

			#labels_list {
				display: flex;
				flex-direction: column;
			}
			
			.label_option input{
				display: none;
			}

			.label_option .check_label {
				padding: 16px;
				display: grid;
				grid-template-columns: 20% auto;
				align-items: center;

			}
			
			.label_option .checkmark {
				border: solid 2px;
				border-radius: 100%;
				width: 24px;
				height: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: gray;
			}

			.check_label {
				color: gray;
			}

			#checkmark_1 {
				border-color: cyan;
			}

			#checkmark_2 {
				border-color: green;
			}

			#checkmark_3 {
				border-color: orangered;
			}

			#checkmark_4 {
				border-color: orange;
			}

			.label_option input:checked ~ .check_label {
				background-color: #36363f;
				color: white;
			}

			#checkmark_1 .checkmark_inner {
				background-color: cyan;
			}

			#checkmark_2 .checkmark_inner {
				background-color: green;
			}

			#checkmark_3 .checkmark_inner {
				background-color: orangered;
			}

			#checkmark_4 .checkmark_inner {
				background-color: orange;
			}

			.label_option input:checked ~ .check_label {
				background-color: #36363f;
			}

			.label_option input:checked ~ .check_label .checkmark_inner{
				width: 20px;
				height: 20px;
				border-radius: 100%;
			}

			#inbox {
				max-height: 100vh;
				display: grid;
				overflow-y: hidden;
				grid-template-rows: auto auto auto auto;
			}

			#inbox_header {
				display: grid;
				grid-template-columns: auto auto;
				align-items: center;
				justify-content: space-between;
			}

			#inbox_title {
				font-weight: lighter;
			}

			#inbox_search_bar {
				border: #bebed3 solid 2px;
				border-radius: 4px;
				width: auto;
				height: 42px;
			}

			#actions_menu {
				display: flex;
				justify-content: space-between;
				align-items: center;

				border-bottom: #c6c6e2 solid 1px;
			}

			#sort_menu {
				display: grid;
				grid-template-columns: auto auto;
			}

			#sort_menu input {
				display: none;
			}

			#sort_menu input:checked ~ .sort_option {
				color: #28282f;
				border-bottom: #36363f 1px solid;
			}

			.sort_option {
				width: auto;
				margin: 0;
				padding: 16px;
				color: #9090ac;
			}
			#action_icons {
				display: grid;
				grid-template-columns: auto auto auto auto;
			}

			.action_icon {
				width: 24px;
				height: 24px;
				border-radius: 100%;
				border: #9090ac 4px solid;
				margin: 8px;
			}

			#inbox_list {
				margin-left: 16px;
				align-self: stretch;
				overflow-y: auto;
			}

			::-webkit-scrollbar {
				width: 4px;
				height: 4px;
			}

			::-webkit-scrollbar-track {
				background-color: #cbcbdd;
				border-radius: 2px;
			}

			::-webkit-scrollbar-thumb {
				
				background-color: #727272;
				border-radius: 2px;
			}

			.inbox_entry {
				color:#7b7b92;
				margin-top: 32px;
				display: grid;
				grid-template-columns: 10% 20% 45% 25%;
				row-gap: 16px;
				align-items: center;
				text-align: center;
			}
			
			.inbox_avatar {
				position: relative;
				width: 42px;
				height: 42px;
				background-color: #a4a4b6;
				border-radius: 100%;
			}
			.inbox_avatar.online {
				border: orangered solid 3px;
			}

			.inbox_sender {
				font-weight: bold;
				text-align: left;
				color: #28282f;
			}

			.inbox_subject {
				text-align: left;
			}

			.inbox_time {
				text-align: right;
				padding-right: 16px;
			}

			.subject_lable {
				display: inline-block;
				padding: 6px;
				margin-right: 6px;
				border-radius: 4px;
				color: white;
				font-weight: bold;
			}

			.subject_lable_work {
				background-color: rgb(81, 163, 211);
			}

			.subject_lable_fashion {
				background-color: rgb(8, 155, 20);
			}

			.subject_lable_animal {
				background-color: rgb(255, 55, 20);
			}

			.subject_lable_code {
				background-color: orange;
			}